#################
## AS
#################

.DS_Store
/captures
.externalNativeBuild

#以下来自：https://github.com/github/gitignore/blob/master/Android.gitignore
#WH添加
#Builtapplicationfiles
*.apk
*.ap_

#FilesfortheART/DalvikVM
*.dex

#Javaclassfiles
*.class

#Generatedfiles
bin/
gen/
out/

#Gradlefiles
.gradle/
build/

#Localconfigurationfile(sdkpath,etc)
local.properties

#ProguardfoldergeneratedbyEclipse
proguard/

#LogFiles
*.log

#AndroidStudioNavigationeditortempfiles
.navigation/

#AndroidStudiocapturesfolder
captures/

#Intellij
*.iml
.idea

#Keystorefiles
*.jks

#ExternalnativebuildfoldergeneratedinAndroidStudio2.2andlater
#.externalNativeBuild

#GoogleServices(e.g.APIsorFirebase)
google-services.json
